In [1]:
%fs ls FileStore/tables

path,name,size
dbfs:/FileStore/tables/MillionSales.csv,MillionSales.csv,124793263

In [2]:
data = spark.read.load('FileStore/tables/MillionSales.csv', format='com.databricks.spark.csv', header='true')

In [3]:
# print schema of dataframe
data.printSchema()

In [4]:
# count numbers in dataframe
data.count()

In [5]:
# probe dataframe
data.limit(5).show()

In [6]:
data.sample(fraction=0.01).count()

In [7]:
# this will exclude column from dataframe
data.drop('Sales Channel')

In [8]:
# this will select only Countries and create distinct and sorted list of it
data.select('Country').distinct().orderBy('Country').show()

In [9]:
# this one select two columns with distinct values and then filter it by given country
data.select('Country','Item Type').distinct().filter(data['Country']=='Poland')
# is in filter
data.select('Country','Item Type').filter(data['Country'].isin('Poland','Germany')).distinct().orderBy('Item Type').show()

In [10]:
# Sales grouped by Country
grouped = data.groupBy('Country').count()
# count it's an aggregation functions
# to get number of grouped elements twice 'count' call is necessary:
numberGrouped = data\
                  .groupBy('Country')\
                  .count()\
                  .count()
# if structure of query become too long for one line \ sign nad new line can be applied to move parts of query to new line.

In [11]:
# to perform sum aggregation
#data.groupBy('Country').agg({"Total Profit":"sum"}).orderBy('Country').show()
# to perform avg aggregation
data.groupBy('Country').agg({"Total Profit":"avg"}).orderBy('Country').show()