In [1]:
%fs ls FileStore/tables

path,name,size
dbfs:/FileStore/tables/MillionSales.csv,MillionSales.csv,124793263

In [2]:
data = spark.read.load('FileStore/tables/MillionSales.csv', format='com.databricks.spark.csv', header='true')

In [3]:
# print schema of dataframe
data.printSchema()

In [4]:
# count numbers in dataframe
data.count()

In [5]:
# probe dataframe
data.limit(5).show()